@import url('https://cdn.jsdelivr.net/gh/Saint-Ra/CDN/BoutiqueBitmap9x9_Square_Dot/result.css');
body {
  max-width: 100%;
  background: url("../img/begger.jpg") no-repeat;
  background-size: cover;
}
h1 {
  font-family: '精品点阵体9×9　方格版';
  text-align: center;
  color: aquamarine;
}
