@import url('https://cdn.jsdelivr.net/gh/Saint-Ra/CDN/BoutiqueBitmap9x9_Square_Dot/result.css');
body {
  max-width: 100%;
  background: url("../img/begger.jpg") no-repeat;
  background-size: cover;
}
h1 {
  font-family: 'BoutiqueBitmap9x9 Square Dot';
  text-align: center;
  color: #dc0039;
}
#2 {
  overflow: hidden;
}
#2 {
  font-family: 'BoutiqueBitmap9x9 Square Dot';
  font-size: 1vw;
  color: #000000;

}
#1 {
  margin: 0 10vw;
  float: left;
}
#1 {
  font-family: 'BoutiqueBitmap9x9 Square Dot';
  font-size: 5em;
  color: #7fffd4;
}
